@import url(https://db.onlinewebfonts.com/c/f82a45d96a5a30abb6417c5b81fc416d?family=Graphik+LC+Web+Semibold+Regular);
@font-face {
  font-family: "Graphik LC Web Semibold Regular";
  src: url("https://db.onlinewebfonts.com/t/f82a45d96a5a30abb6417c5b81fc416d.eot");
  src: url("https://db.onlinewebfonts.com/t/f82a45d96a5a30abb6417c5b81fc416d.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f82a45d96a5a30abb6417c5b81fc416d.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/f82a45d96a5a30abb6417c5b81fc416d.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/f82a45d96a5a30abb6417c5b81fc416d.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/f82a45d96a5a30abb6417c5b81fc416d.svg#Graphik LC Web Semibold Regular")
      format("svg");
}

body {
  margin: 0;
  font-family: "Graphik LC Web Semibold Regular";
  font-size: 13px;
  color: #9ab;
  background-color: #14181c;
}

span {
  margin: 0;
}

.nocursor {
  cursor: default;
}

.noscroll {
  overflow: hidden;
}

.nascosto {
  display: none;
}

h1 {
  margin-top: 3em;
  color: #abc;
  font-size: 24px;
  font-style: inherit;
  line-height: 1;
  text-align: center;
  overflow-wrap: break-word;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 675px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  background-image: linear-gradient(
      90deg,
      #14181d 0,
      rgba(20, 24, 29, 0.986) 0.97%,
      rgba(20, 24, 29, 0.945) 2.07833333%,
      rgba(20, 24, 29, 0.883) 3.29666667%,
      rgba(20, 24, 29, 0.803) 4.60166667%,
      rgba(20, 24, 29, 0.711) 5.96666667%,
      rgba(20, 24, 29, 0.61) 7.365%,
      rgba(20, 24, 29, 0.504) 8.77166667%,
      rgba(20, 24, 29, 0.398) 10.16%,
      rgba(20, 24, 29, 0.296) 11.505%,
      rgba(20, 24, 29, 0.203) 12.78%,
      rgba(20, 24, 29, 0.122) 13.95833333%,
      rgba(20, 24, 29, 0.059) 15.01666667%,
      rgba(20, 24, 29, 0.016) 15.92833333%,
      rgba(20, 24, 29, 0) 16.66666667%,
      rgba(20, 24, 29, 0) 83.33333333%,
      rgba(20, 24, 29, 0.016) 84.07166667%,
      rgba(20, 24, 29, 0.059) 84.98333333%,
      rgba(20, 24, 29, 0.122) 86.04166667%,
      rgba(20, 24, 29, 0.203) 87.22%,
      rgba(20, 24, 29, 0.296) 88.495%,
      rgba(20, 24, 29, 0.398) 89.84%,
      rgba(20, 24, 29, 0.504) 91.22833333%,
      rgba(20, 24, 29, 0.61) 92.635%,
      rgba(20, 24, 29, 0.711) 94.03333333%,
      rgba(20, 24, 29, 0.803) 95.39833333%,
      rgba(20, 24, 29, 0.883) 96.70333333%,
      rgba(20, 24, 29, 0.945) 97.92166667%,
      rgba(20, 24, 29, 0.986) 99.03%,
      #14181d
    ),
    linear-gradient(
      0deg,
      #14181d 0,
      #14181d 21.48148148%,
      rgba(20, 24, 29, 0.986) 23.63703704%,
      rgba(20, 24, 29, 0.945) 26.1%,
      rgba(20, 24, 29, 0.883) 28.80740741%,
      rgba(20, 24, 29, 0.803) 31.70740741%,
      rgba(20, 24, 29, 0.711) 34.74074074%,
      rgba(20, 24, 29, 0.61) 37.84814815%,
      rgba(20, 24, 29, 0.504) 40.97407407%,
      rgba(20, 24, 29, 0.398) 44.05925926%,
      rgba(20, 24, 29, 0.296) 47.04814815%,
      rgba(20, 24, 29, 0.203) 49.88148148%,
      rgba(20, 24, 29, 0.122) 52.5%,
      rgba(20, 24, 29, 0.059) 54.85185185%,
      rgba(20, 24, 29, 0.016) 56.87777778%,
      rgba(20, 24, 29, 0) 58.51851852%
    );
}

.sfondo {
  background-image: url(public/sfondo.png);
  background-position: center center;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 80%;
  top: 0;
  z-index: -1;
}

.logo {
  margin-top: 1.5%;
  height: 80%;
}

.logo img {
  min-width: auto;
  width: 100%;
  height: 100%;
}

.logo-mobile {
  display: none;
}

.cross {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

#modal_search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
}

#modal_search.nascosto {
  display: none;
}

.modal_display {
  position: relative;
  height: auto;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
}

#modal_search li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  min-height: 20%;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  background: #272727;
  border: solid 2px #14181c;
}

#modal_search .cross {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0.5% 0.5%;
}

#modal_search li img {
  max-height: 200px;
  max-width: 250px;
  border-radius: 5px;
  border: solid 2px black;
}

#modal_search h2 {
  color: antiquewhite;
  font-size: 1.3em;
  box-shadow: 2px 2px 2px 2px black;
  border: solid 2px black;
  font-style: italic;
  margin-top: 0;
  padding: 5px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 95px;
  margin-bottom: -3%;
  top: 0;
}

form {
  position: relative;
  display: flex;
  align-items: center;
  width: 150px;
}

nav input[type="text"] {
  border-radius: 20px;
  border: none;
  padding: 5px 35px 5px 5px;
  width: 100%;
  margin-left: 2%;
  height: 20px;
  color: rgb(28, 27, 27);
  font-size: 14px;
  font-weight: bold;
  background-color: #445566;
}

nav span {
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.submit {
  background-image: url(public/lente.png);
  border-radius: 3px;
  background-size: cover;
  background-color: #445566;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.mobilenav {
  display: none;
}

.navsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 72px;
  gap: 1em;
  color: #99aabb;
}

.navsection nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  gap: 10px;
}

.navsection nav a span {
  color: #d8e0d8;
}

@media (max-width: 1255px) {
  .logo {
    display: none;
  }
  .navsection {
    justify-content: center;
    width: 100%;
  }
}

.modal_game {
  background-color: #272727;
  display: flex;
  width: auto;
  height: auto;
  justify-content: space-between;
  gap: 1em;
  padding: 1% 1%;
  border-radius: 10px;
  margin: 1.5em 2em;
  border: solid 2px #14181c;
}

.modal_game div {
  display: flex;
  flex-direction: column;
}

.modal_game div p {
  font-size: 1.2em;
  line-height: 1.1em;
  color: antiquewhite;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 1em;
  box-shadow: 2px 2px 2px 2px black;
  border: solid 2px black;
  padding: 5px 5px;
}

.cover {
  border-radius: 5px;
  border: solid 2px black;
  max-height: 320px;
  max-width: 260px;
}

.credits {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  flex-wrap: wrap;
  overflow: hidden;
  padding: auto;
  margin: auto;
}

#modal_search .credits li {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  background-color: #2c3440;
  border: solid 2px black;
  cursor: default;
}

.wrapper {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -15%;
}

.wrapper h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 1.3;
  color: white;
  margin-bottom: -0.6em;
}

#spam {
  text-align: center;
  font-size: 1.2rem;
  width: 25%;
  height: 30%;
  margin-top: 3em;
  margin-bottom: 0.5em;
  background-color: #00c030;
  line-height: 1;
  padding: 0.625em 1.5em;
  border-radius: 3px;
  color: white;
}

#spam:hover {
  background-color: green;
}

.moviebox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: scroll;
  scrollbar-width: none;
  margin-top: 1em;
  width: 65%;
  gap: 5px;
  padding: 0 0 1.5%;
  z-index: 0;
}

.moviebox img {
  cursor: pointer;
  border-radius: 5px;
  height: 231px;
  border: 1px solid white;
}

.inforev {
  width: 75%;
  color: rgb(12, 226, 12);
  background-color: #445566;
  text-align: center;
  border-width: 5px;
  border-radius: 5px;
  margin-bottom: -3%;
  padding: 2% 2%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.moviebox img:hover {
  border: 1px solid green;
}

#feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 65%;
  height: 70%;
  margin-bottom: 2%;
}

#feature h1 {
  font-size: 13px;
  font-weight: 400;
  margin: 20px 0px 10px;
}

.feature__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.arancione,
.azzurro,
.verde {
  display: flex;
  justify-content: space-between;
  background-color: #445566;
  width: 310px;
  border: none;
  margin-bottom: 10px;
}

@media (max-width: 970px) {
  .arancione,
  .azzurro,
  .verde {
    width: 600px;
  }
}

.arancione img,
.azzurro img,
.verde img {
  width: 40px;
  height: 30px;
  padding: 20px 20px 20px;
}

.panel {
  width: 100%;
  height: 80%;
  margin-right: 5px;
  margin-left: auto;
  font-size: 14px;
  line-height: 1.5;
}

.azzurro:hover {
  background-color: rgb(38, 81, 199);
}

.verde:hover {
  background-color: rgb(4, 166, 4);
}

.arancione:hover {
  background-color: orange;
}

.livefeed {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
}

.livefeed h2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #678;
  font-size: 13px;
  letter-spacing: 0.075em;
  margin-bottom: 0.5%;
}

.livefeed div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  height: 50%;
  padding-top: 0.5%;
  border-top: 1px solid #456;
}

.livefeed img {
  height: 100%;
  border: 1px solid white;
  border-radius: 3px;
}

.livefeed img:hover {
  border-color: green;
}

.word {
  color: #89a;
  margin: 0 0 3.7em;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1;
}

.reviews {
  display: flex;
  width: 65%;
  justify-content: space-between;
  margin-bottom: 3em;
}

.colonna1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.reviews__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 0;
  padding: 0 0 2.5em;
}

.news {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #456;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.075em;
  margin-bottom: 0.7em;
  margin-top: 0;
  padding-bottom: 5px;
  width: 100%;
}

.news a {
  color: #678;
  font-size: 13px;
}

.recensioni {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: none;
  width: 100%;
  margin-bottom: 15px;
  z-index: 0;
}

.recensioni__box {
  display: flex;
  justify-content: flex-start;
  padding-top: 0;
  border-color: #2c3440;
  border-bottom: 1px solid #456;
  padding: 15px 0 18px;
  line-height: 1.3;
  width: 100%;
}

.recensioni div a {
  margin-right: 20px;
}

.film-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.film-titolo {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 10px;
  color: white;
  line-height: 1.2;
}

.film-nome {
  font-family: Georgia, serif;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: bold;
}

.anno {
  margin-top: 0.25em;
  color: #89a;
  font-size: 1rem;
}

.utente {
  display: flex;
  align-items: center;
  margin-top: 2%;
  color: #678;
}

.locandina img {
  border: 1px solid white;
}

.locandina img:hover {
  border-color: green;
}

.avatar {
  margin-top: 15px;
  align-self: flex-start;
}

.like a {
  display: flex;
  height: 16.5px;
  justify-content: space-between;
  gap: 5px;
}

.avatar img {
  height: 24px;
  border-radius: 10px;
}

.nickname {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-left: -3%;
  font-size: 1rem;
  line-height: 24px;
}

.nickname a {
  font-weight: bold;
}

.stelline {
  position: relative;
  top: -1px;
}

.commento {
  margin-left: 0;
  margin-right: 5px;
  padding-left: 10px;
  font-size: 1rem;
  color: #667788;
}

.commento:hover {
  color: white;
}

.commento img {
  height: 16px;
  margin-right: 5px;
}

.nickname a {
  color: #abc;
  font-size: 0.9rem;
  font-weight: bold;
}

.frase {
  font-family: Georgia, serif;
  margin-bottom: 7px;
  margin-top: 2px;
  font-size: 1.15rem;
  line-height: inherit;
}

.like {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 0;
  margin-top: 5px;
  line-height: 1.5;
  gap: 5px;
}

.like a {
  font-weight: 400;
  margin-right: 0.5em;
  color: #678;
  height: 16pxs;
}

.colonna2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.poplist {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 0.7em;
  width: 85%;
}

.lists {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #456;
  width: 100%;
  color: #9ab;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.7em;
  letter-spacing: 0.075em;
  margin-top: 0;
  padding-bottom: 5px;
}

.lists a {
  color: #678;
  font-size: 13px;
}

.toplist {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collezione {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}

.ac {
  width: 100%;
  margin-bottom: -1%;
}

.ac img {
  cursor: pointer;
  width: 230px;
  height: 100px;
  border-radius: 3px;
  margin-left: -2px;
}

.user {
  display: flex;
  justify-content: flex-start;
  gap: 2.5%;
  color: #678;
  width: 100%;
}

.collezione h3 {
  margin: 8px 0 4px;
}

.au {
  height: 18px;
  border-radius: 50%;
  border: solid 1px white;
}

.user p {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2px;
  font-size: 0.9rem;
  line-height: 18px;
  margin: 0;
  width: fit-content;
}

.user a {
  height: 18px;
  width: 20px;
}

.user a:hover {
  color: white;
}

.ic {
  height: 16px;
}

.poprev {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 85%;
  height: 100%;
  padding-bottom: 1.5em;
  margin-top: 2.45em;
  gap: 0.3em;
}

.poprev h2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #456;
  width: 100%;
  color: #9ab;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.7em;
  letter-spacing: 0.075em;
  margin-top: 0;
  padding-bottom: 5px;
}

.poprev h2 a {
  color: #678;
  font-size: 13px;
}

.poprev__wrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2%;
  width: 100%;
}

.poprev__wrap-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #2c3440;
  padding: 10px 0;
  width: 100%;
  height: 60%;
  gap: 5%;
}

.poprev__wrap-div div {
  height: 100%;
}

.poprev__wrap_b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.2em;
  width: 100%;
  margin-top: 0.1em;
  margin-left: 0.3em;
}

.avr img {
  height: 80%;
  border-radius: 50%;
  border: 1px solid white;
}

.avrname {
  color: white;
  font-size: 0.85rem;
  font-weight: bold;
}

.infos {
  color: #667788;
  width: 100%;
}

@media (max-width: 1200px) {
  .reviews {
    flex-direction: column;
    align-items: center;
  }
  .poprev {
    width: max-content;
  }
  .poplist {
    width: auto;
  }
}

.recentstories {
  width: 65%;
  margin-bottom: 1em;
}

.recentstories h2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #456;
  color: #9ab;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.7em;
  letter-spacing: 0.075em;
  margin-top: 0;
  padding-bottom: 5px;
}

.rs__body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 5px;
  padding-right: 5px;
  gap: 1em;
}

.articolo {
  background-color: #202830;
  width: 32%;
  flex-grow: 1;
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 5px;
}

.new-width {
  width: 100%;
}

.immagine-articolo {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.contenuto-articolo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.header-articolo {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 0.3em;
  height: 24px;
  margin-left: 0.15em;
  align-items: center;
  color: #aabbcc;
}

.artbody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 0.3em;
  margin-right: auto;
  margin-bottom: 0.3em;
  gap: 1%;
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
}

.readmore {
  color: #aabbcc;
  margin-top: 1.5em;
  font-weight: bold;
}

.readmore:hover {
  color: aqua;
}

.maintxt {
  height: auto;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Georgia, serif;
}

.ndtxt {
  font-weight: inherit;
  font-size: 0.8rem;
  overflow-wrap: break-word;
  line-height: 1.4;
  margin-top: -2%;
}

.readstory {
  margin-bottom: auto;
}

.recentshowdowns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2%;
  width: 65%;
}

.sectionews {
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.newsblock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5em;
  margin-top: 1em;
}

.linkimg {
  height: 174px;
  width: 100%;
}

.newsimg {
  border-radius: 2px;
  height: 100%;
}

.news-title h2 {
  height: fit-content;
  width: fit-content;
  margin-top: 0.3em;
  font-size: 1.2rem;
  font-weight: bold;
}

.newsblock p {
  width: 100%;
  font-size: 0.8rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c3440;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 5%;
  width: 100%;
  overflow: hidden;
}

footer div {
  display: flex;
  justify-content: center;
  width: 70%;
}

footer div nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-weight: 400;
  margin-bottom: 0.8em;
  width: 100%;
}

.footer-links {
  color: #9ab;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 10px;
}

#show_more {
  color: #678;
  font-size: 13px;
  letter-spacing: 0;
}

@media (max-width: 600px) {
  .nascondi_mobile {
    display: none;
  }

  header {
    display: flex;
    background-color: #14181c;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
    gap: 0.2em;
    width: 100%;
  }

  .navsection {
    display: none;
  }

  .mobilenav {
    display: flex;
    gap: 5px;
  }
  .mobilenav a img {
    height: 25px;
    width: auto;
  }

  .wrapper {
    width: 100%;
    margin-top: 1%;
  }

  .overlay {
    display: none;
  }

  .container {
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .container div {
    height: 220px;
    margin-top: 7%;
    left: 0;
    width: 100%;
  }

  .logo-mobile {
    display: block;
    height: 30px;
    margin-bottom: 4%;
  }

  .wrapper h2 {
    text-align: center;
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: -0.6em;
  }
  #spam {
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
  }
  .socials {
    margin-bottom: 1em;
    height: fit-content;
    font-weight: 300;
    font-size: 1.2rem;
  }

  .socials img {
    height: 20px;
  }

  .moviebox {
    width: 95%;
    height: 230px;
    margin-bottom: -15%;
    gap: 3%;
  }

  .moviebox img {
    height: 130px;
  }

  #feature {
    width: 95%;
    gap: 1%;
    height: 650px;
  }

  #feature h1 {
    font-size: 14px;
    margin-bottom: -1%;
  }

  .feature__box {
    flex-wrap: nowrap;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-self: center;
  }

  .panel {
    margin-left: 5%;
  }

  .feature__box a {
    width: 100%;
    height: auto;
    display: flex;
  }

  .feature__box a img {
    width: 50px;
    height: 35px;
    margin-top: 10px;
  }

  .livefeed {
    height: 150px;
    width: 95%;
  }

  .livefeed div {
    width: 100%;
    height: 80%;
    overflow: scroll;
    scrollbar-width: none;
    flex-wrap: nowrap;
    gap: 1em;
  }

  .livefeed div a {
    height: 90px;
  }

  .livefeed h2 {
    margin-bottom: 0;
    height: fit-content;
  }
  .livefeed p {
    height: fit-content;
  }

  .livefeed h1 {
    overflow-wrap: break-word;
    height: 368px;
    width: 100%;
  }

  .word {
    margin-top: 3%;
  }

  .reviews {
    width: 95%;
    flex-direction: column;
  }

  .reviews__top {
    width: 100%;
  }

  .news {
    width: 100%;
    margin-left: 0;
  }

  .colonna1,
  .colonna2 {
    width: 100%;
  }

  .recensioni {
    width: 100%;
  }

  .utente {
    flex-wrap: wrap;
  }

  .film-titolo {
    flex-direction: column;
  }

  .avatar img {
    margin-top: 5%;
    height: 24px;
    width: 24px;
  }

  .recensioni__box {
    width: 100%;
  }

  .nickname {
    overflow-wrap: break-word;
  }

  .film-titolo {
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
  }

  .film-nome {
    width: 100%;
    margin-left: -0.3em;
  }

  .locandina {
    height: fit-content;
  }

  .utente {
    width: 100%;
    margin-top: 4%;
    align-items: flex-start;
  }

  .avatar {
    margin-top: 0;
  }

  .nickname {
    flex-direction: column;
    margin-top: -5px;
    width: 60%;
  }

  .nickname a {
    width: 100%;
    margin-top: 2%;
  }

  .commento {
    margin-left: -8%;
  }

  .like a {
    justify-content: space-between;
    width: 75%;
  }

  .like a img {
    height: 16px;
    width: 15px;
  }

  .lists {
    width: 100%;
  }

  .toplist {
    width: 100%;
  }

  .collezione {
    width: 100%;
  }

  .ac {
    width: 80%;
  }

  .collezione h3 {
    margin-top: 5%;
  }

  .poprev {
    display: none;
  }

  .au,
  .ic {
    height: 18px;
    width: 18px;
  }

  .user {
    gap: 20px;
  }

  .recentstories {
    width: 95%;
  }

  .rs__body {
    width: 100%;
  }

  .articolo {
    width: 100%;
    margin-top: 20px;
  }

  .articolo div {
    width: 100%;
  }

  .maintxt {
    width: 95%;
  }

  .recentshowdowns {
    margin-top: 3%;
    width: 85%;
  }

  .newsblock p {
    width: 100%;
  }

  .recentnews {
    width: 85%;
    height: 750px;
  }

  footer {
    margin-top: 15%;
    padding-bottom: 15px;
  }

  .footer div {
    width: 72%;
  }

  .footer div nav {
    width: 100%;
    align-items: center;
  }
}
